<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <mat-card-title align="center" class="alert alert-primary">Thông báo</mat-card-title>
                <div class="row">
                    <div class="column" *ngFor="let notification of notifications">
                        <div class="card">
                            <a (click)="getPostNotification(notification.postId)">{{notification.notify}}</a>

                        </div>
                    </div>
                    <div *ngIf="checkNotify">
                        <p>content: {{post.content}}</p>
                        <p>{{post.likeList.length}} like</p>
                        <p>{{post.commentList.length}} comment</p>
                        <a (click)="check1()">ẩn bài post</a>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>


