<div *ngFor="let post of listPost, index as i" class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <button (click)="deletePosts(i,post.id)">Click Tao</button>
    <nz-avatar class="w3-left w3-circle w3-margin-right" [nzSize]="80" nzIcon="user"
               nzSrc="{{post.user.avatarUrl}}"></nz-avatar>
    <h5 nz-typography>
        {{post.user.fullName}}
        <small nz-typography nzType="secondary" class="w3-right w3-opacity">{{post.created_date}}</small>
    </h5>
    <small nz-typography nzType="secondary">{{post.status}}</small>
    <hr class="w3-clear">
    <p>{{post.content}}</p>
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
            <img src="{{post.imageUrl}}" style="width:100%"
                 class="w3-margin-bottom">
        </div>
    </div>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
        <i class="fa fa-thumbs-up"></i>
        Like
    </button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
        <i class="fa fa-comment"></i>
        Comment
    </button>
    <app-comment [post]="post"></app-comment>
    <app-like [post]="post"></app-like>
</div>
