<!--&lt;!&ndash;<div id="facebook-Bar">&ndash;&gt;-->
<!--&lt;!&ndash;    <div id="facebook-Frame">&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="logo"><a> <span style="font-size: 18px">META NETWORK</span> </a></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="header-main-right">&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="header-main-right-nav">&ndash;&gt;-->
<!--&lt;!&ndash;                <form method="post" action="" id="login_form" name="login_form">&ndash;&gt;-->
<!--&lt;!&ndash;                    <table border="0" style="border:none">&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td><input type="text" tabindex="1" id="email" placeholder="Email or Phone" name="email"&ndash;&gt;-->
<!--&lt;!&ndash;                                       class="inputtext radius1" value=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td><input type="password" tabindex="2" id="pass" placeholder="Password" name="pass"&ndash;&gt;-->
<!--&lt;!&ndash;                                       class="inputtext radius1"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td><input type="submit" class="fbbutton" name="login" value="Login"/></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td><label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span style="color:#ccc;">Keep me logged in</span></label></td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td><label><a href="" style="color:#ccc; text-decoration:none">forgot your&ndash;&gt;-->
<!--&lt;!&ndash;                                password?</a></label></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    </table>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="loginbox radius">-->
<!--    <h2 style="color:#3F51B5; text-align:center;">Welcome to Meta Social</h2>-->
<!--    <div class="loginboxinner radius">-->
<!--        <div class="loginheader">-->
<!--            <h4 class="title">Connect with friends and the world around you.</h4>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-12" style="margin-top: 20px">-->
<!--            -->
<!--            <mat-card style="margin: 50px 0">-->
<!--                <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid && register()" novalidate>-->
<!--                    <mat-error class="alert alert-primary">{{status}}</mat-error>-->
<!--                    &lt;!&ndash; NAME &ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label>FullName: </mat-label>-->
<!--                        <input  name="name" [(ngModel)]="form.fullName" matInput placeholder="Placeholder" #name="ngModel" minlength="3" maxlength="100" required>-->
<!--                        <mat-icon color="accent" matSuffix>person_outline</mat-icon>-->
<!--                        <mat-error *ngIf="name.hasError('required')">The name is required!</mat-error>-->
<!--                        <mat-error *ngIf="name.hasError('minlength')">The name must more than 3 character</mat-error>-->
<!--                    </mat-form-field><br>-->
<!--                    &lt;!&ndash; USERNAME &ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label>Username: </mat-label>-->
<!--                        <input name="username" [(ngModel)]="form.username" matInput placeholder="Placeholder" #username="ngModel" minlength="3" maxlength="100" required>-->
<!--                        <mat-icon color="accent" matSuffix>person_outline</mat-icon>-->
<!--                        <mat-error *ngIf="username.hasError('required')">The name is required!</mat-error>-->
<!--                        <mat-error *ngIf="username.hasError('minlength')">The name must more than 3 character</mat-error>-->
<!--                    </mat-form-field><br>-->
<!--                    &lt;!&ndash; EMAIL &ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label>Email: </mat-label>-->
<!--                        <input name="email" [(ngModel)]="form.email" matInput placeholder="Placeholder" [formControl]="emailFormControl" required>-->
<!--                        <mat-icon color="accent" matSuffix>email</mat-icon>-->
<!--                        <mat-error *ngIf="emailFormControl.hasError('required')">The name is required!</mat-error>-->
<!--                        <mat-error *ngIf="emailFormControl.hasError('email')">The email is invalid! Ex: chinhcomhut@gmail.com</mat-error>-->
<!--                    </mat-form-field><br>-->
<!--                    &lt;!&ndash;PASSWORD &ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label>Enter your password</mat-label>-->
<!--                        <input name="password" [(ngModel)]="form.password" matInput [type]="hide ? 'password' : 'text'" #password="ngModel" required minlength="6" maxlength="100">-->
<!--                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                        </button>-->
<!--                        <mat-error *ngIf="password.hasError('required')">The password is required!</mat-error>-->
<!--                        <mat-error *ngIf="password.hasError('minlength')">The password must more than 6 character</mat-error>-->
<!--                    </mat-form-field><br>-->
<!--                    &lt;!&ndash;RE-PASSWORD &ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label>Enter your re-password</mat-label>-->
<!--                        <input *ngIf="!check_password" name="re_password" [(ngModel)]="form.re_password" matInput [type]="hide ? 'password' : 'text'" #re_password="ngModel" required minlength="6" maxlength="100">-->
<!--                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                        </button>-->
<!--                        <mat-error *ngIf="password.hasError('required')">The password is required!</mat-error>-->
<!--                        <mat-error *ngIf="password.hasError('minlength')">The password must more than 6 character</mat-error>-->
<!--                    </mat-form-field><br>-->
<!--                    &lt;!&ndash;                    Date Of Birth&ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" color="accent" appearance="outline">-->
<!--                        <mat-label>DateOfBirth:</mat-label>-->
<!--                        <input matInput name="dateOfBirth" [matDatepicker]="date" [(ngModel)]="form.dateOfBirth" required>-->
<!--                        <mat-datepicker-toggle  style="color: #f92672" matSuffix [for]="date"></mat-datepicker-toggle>-->
<!--                        <mat-datepicker #date></mat-datepicker>-->
<!--                    </mat-form-field><br>-->
<!--                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Register-->
<!--                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </mat-card>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 130px 100px 100px 750px;position: absolute; width: 30%">
                <form class="form-login" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error *ngIf="checkRegister" class="alert alert-primary">Create Account Success! Please login</mat-error>
                    <mat-error *ngIf="checkLoginFailed" class="alert alert-danger">Login Failed! Please check your username or password</mat-error>
                    <!-- USERNAME -->
                    <mat-form-field style="width: 300px" appearance="outline">
                        <mat-label>Username: </mat-label>
                        <input name="username" [(ngModel)]="form.username" matInput placeholder="Placeholder" #username="ngModel" minlength="3" maxlength="100" required>
                        <mat-icon color="accent" matSuffix>person_outline</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">The name is required!</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">The name must more than 3 character</mat-error>
                    </mat-form-field><br>
                    <!--PASSWORD -->
                    <mat-form-field style="width: 300px" appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input name="password" [(ngModel)]="form.password" matInput [type]="hide ? 'password' : 'text'" #password="ngModel" required minlength="6" maxlength="100">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">The password is required!</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">The password must more than 6 character</mat-error>
                    </mat-form-field><br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Login
                        <mat-icon color="accent" matSuffix>login</mat-icon>
                    </button><br><br>
                    <button routerLink="/register" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">REGISTER
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>

