<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
        <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i
                class="fa fa-globe"></i></a>
        <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i
                class="fa fa-user"></i></a>
        <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
                class="fa fa-envelope"></i></a>
        <form class="d-flex">
            <input #element style="right: 15%;width: 250px; margin-top: 8px"
                   class="form-control me-2" type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button (click)="searchName(element.value)" style="margin-top: 8px; height: 36px"
                    class="btn btn-outline-success" type="submit">Search
            </button>
            <a style="position: fixed; right: 2%;top:1%">
                <img [matMenuTriggerFor]="menu" src="{{avatar}}" class="w3-circle" style="height:40px;width:40px"
                     alt="Avatar">
                <mat-menu #menu="matMenu">
                    <button style="height: 30px; width: 40px" (click)="logOut()" mat-button>Log Out</button>
                </mat-menu>
            </a>
        </form>
    </div>
</div>
<br>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <img src="{{avatar}}" style="height:106px;width:106px" class="w3-center">
                    <hr>
                    <p> {{fullName}}</p>
                    <p> {{phone}}</p>
                    <p> {{email}}</p>
                </div>

            </div>
            <br>

            <!-- Accordion -->
            <!--            <div class="w3-card w3-round">-->
            <!--                <div class="w3-white">-->
            <!--                    <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i-->
            <!--                            class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups-->
            <!--                    </button>-->
            <!--                    <div id="Demo1" class="w3-hide w3-container">-->
            <!--                        <p>Some text..</p>-->
            <!--                    </div>-->
            <!--                    <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i-->
            <!--                            class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events-->
            <!--                    </button>-->
            <!--                    <div id="Demo2" class="w3-hide w3-container">-->
            <!--                        <p>Some other text..</p>-->
            <!--                    </div>-->
            <!--                    <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i-->
            <!--                            class="fa fa-users fa-fw w3-margin-right"></i> My Photos-->
            <!--                    </button>-->
            <!--                    <div id="Demo3" class="w3-hide w3-container">-->
            <!--                        <div class="w3-row-padding">-->
            <!--                            <br>-->
            <!--                            <div class="w3-half">-->
            <!--                                <img src="{{avatar}}" style="width:100%" class="w3-margin-bottom">-->
            <!--                            </div>-->
            <!--                            <div class="w3-half">-->
            <!--                                <img src="{{avatar}}" style="width:100%" class="w3-margin-bottom">-->
            <!--                            </div>-->
            <!--                            <div class="w3-half">-->
            <!--                                <img src="{{avatar}}" style="width:100%" class="w3-margin-bottom">-->
            <!--                            </div>-->
            <!--                            <div class="w3-half">-->
            <!--                                <img src="{{avatar}}" style="width:100%" class="w3-margin-bottom">-->
            <!--                            </div>-->
            <!--                            <div class="w3-half">-->
            <!--                                <img src="{{avatar}}" style="width:100%" class="w3-margin-bottom">-->
            <!--                            </div>-->
            <!--                            <div class="w3-half">-->
            <!--                                <img src="{{avatar}}" style="width:100%" class="w3-margin-bottom">-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <br>-->
            <!-- Interests -->
            <!--            <div class="w3-card w3-round w3-white w3-hide-small">-->
            <!--                <div class="w3-container">-->
            <!--                    <p>Interests</p>-->
            <!--                    <p>-->
            <!--                        <span class="w3-tag w3-small w3-theme-d5">News</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-d3">Labels</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-d2">Games</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-d1">Friends</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme">Games</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-l1">Friends</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-l2">Food</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-l3">Design</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-l4">Art</span>-->
            <!--                        <span class="w3-tag w3-small w3-theme-l5">Photos</span>-->
            <!--                    </p>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <br>-->

            <!-- Alert Box -->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <app-search></app-search>
                <p><strong>Hey you!</strong></p>
                <p>People are looking at your profile. Let's be friend.</p>
                <p>Mọi người đang xem hồ sơ của bạn. Hãy kết bạn với tôi.</p>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <div *ngIf="isCheckAdmin">
                        <app-admin-manager></app-admin-manager>
                    </div>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <form class="" #f="ngForm" (ngSubmit)="f.form.valid && ngPost()" novalidate>
                                <!-- CONTENT -->
                                <mat-form-field style="width: 80%" appearance="outline">
                                    <input name="content" [(ngModel)]="form.content" matInput
                                           placeholder="Bạn đang nghĩ gì?"><br>
                                    <app-upload-file
                                            (giveURLtoCreate)="uploadAvatar($event)">
                                    </app-upload-file>
                                </mat-form-field>
                                <select name="status" [(ngModel)]="form.status">
                                    <option class="form-control" value="public">Public</option>
                                    <option class="form-control" value="friend">Friend</option>
                                    <option class="form-control" value="onlyme">Only Me</option>
                                </select>

                                <button mat-stroked-button color="accent"
                                        class="mat-button-toggle-group btn-outline-primary">Đăng Bài
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngFor="let post of listPost" class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <p>{{post.user.fullName}}</p>
                <img src="{{post.user.avatarUrl}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                     style="width:60px">
                <span class="w3-right w3-opacity">1 min</span>
                <h4>{{post.status}}</h4><br>
                <hr class="w3-clear">
                <p>{{post.content}}</p>
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-half">
                        <img src="{{post.imageUrl}}" style="width:100%"
                             class="w3-margin-bottom">
                    </div>
                </div>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
                    Like
                </button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
                    Comment
                </button>
                <div class="w3-container w3-padding">
                    <form class="" #c="ngForm" (ngSubmit)="c.form.valid && ngComment(post.id)" novalidate>
                        <!-- CONTENT -->
                        <mat-form-field style="width: 80%" appearance="outline">
                            <input name="content" [(ngModel)]="formComment.content" matInput
                                   placeholder="Nhập bình luận"><br>
                        </mat-form-field>
                        <button  mat-stroked-button color="accent"
                                class="mat-button-toggle-group btn-outline-primary">Bình luận
                        </button>
                    </form>
                </div>
            </div>


            <!-- End Middle Column -->
        </div>
    </div>
</div>
<!-- Right Column -->
<!--        <div class="w3-col m2">-->
<!--            <div class="w3-card w3-round w3-white w3-center">-->
<!--                <div class="w3-container">-->
<!--                    <p>Upcoming Events:</p>-->
<!--&lt;!&ndash;                    <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">&ndash;&gt;-->
<!--                    <p><strong>Holiday</strong></p>-->
<!--                    <p>Friday 15:00</p>-->
<!--                    <p>-->
<!--                        <button class="w3-button w3-block w3-theme-l4">Info</button>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->

<!--            <div class="w3-card w3-round w3-white w3-center">-->
<!--                <div class="w3-container">-->
<!--                    <p>Friend Request</p>-->
<!--&lt;!&ndash;                    <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>&ndash;&gt;-->
<!--                    <span>Jane Doe</span>-->
<!--                    <div class="w3-row w3-opacity">-->
<!--                        <div class="w3-half">-->
<!--                            <button class="w3-button w3-block w3-green w3-section" title="Accept"><i-->
<!--                                    class="fa fa-check"></i></button>-->
<!--                        </div>-->
<!--                        <div class="w3-half">-->
<!--                            <button class="w3-button w3-block w3-red w3-section" title="Decline"><i-->
<!--                                    class="fa fa-remove"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->

<!--            <div class="w3-card w3-round w3-white w3-padding-16 w3-center">-->
<!--                <p>ADS</p>-->
<!--            </div>-->
<!--            <br>-->

<!--            <div class="w3-card w3-round w3-white w3-padding-32 w3-center">-->
<!--                <p><i class="fa fa-bug w3-xxlarge"></i></p>-->
<!--            </div>-->

<!--            &lt;!&ndash; End Right Column &ndash;&gt;-->
<!--        </div>-->

<!--        &lt;!&ndash; End Grid &ndash;&gt;-->
<!--    </div>-->

<!--    &lt;!&ndash; End Page Container &ndash;&gt;-->
<!--</div>-->
<!--<br>-->

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="w3-container w3-theme-d3 w3-padding-16">-->
<!--    <h5>Footer</h5>-->
<!--</footer>-->

<!--<footer class="w3-container w3-theme-d5">-->
<!--    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
<!--</footer>-->
</body>
</html>

