<div class="container">
    <div class="w3-row">
        <div class="col-12" style="margin-top: 20px">
            <div class="row">
                <div class="column" *ngFor="let user of users">
                    <mat-icon (click)="blockUser(user.id)" color="accent" matSuffix>no_encryption_gmailerrorred
                    </mat-icon>
                    <span nz-typography nzType="warning">Block/Unblock</span>
                    <hr>
                    <i style="font-size: 1.5vw; color: crimson">{{user.fullName}}</i><br>
                    <span nz-typography nzType="warning">Status:<i
                            style="font-size: 1.5vw; color: #dc14c8">{{user.isActive}}</i></span>
                    <nz-avatar class="w3-center w3-circle w3-margin" [nzSize]="120" nzIcon="user"
                               nzSrc="{{user.avatarUrl}}"></nz-avatar>
                    <br><br>
                </div>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[3,15,30,90]" [length]="totalElements"
                       (page)="nextPage($event)"></mat-paginator>
    </div>
</div>
