.form-login{
  text-align: center;
  background: #e1eeea;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 2px;
  border-radius: 2px;
}
