<div class="w3-container w3-padding">
    <form class="" [formGroup]="commentForm" (ngSubmit)="ngComment()" novalidate>
        <!-- CONTENT -->
        <mat-form-field style="width: 80%" appearance="outline">
            <input name="content" formControlName="content" matInput
                   placeholder="Nhập bình luận"><br>
        </mat-form-field>
        <button mat-stroked-button color="accent" type="submit"
                class="mat-button-toggle-group btn-outline-primary">Bình luận
        </button>
    </form>
</div>
<div class="column" *ngFor="let comments of post.commentList; index as i" >
    <div class="card">
        <div><strong>{{comments.user.fullName}}</strong> : <span *ngIf="!comments.check">{{comments.content}}</span>
        <input *ngIf="comments.check" type="text" [(ngModel)]="comments.content" (keydown.enter)="submitComment(comments)">
        </div>
        <button (click)="editComment(comments)">sua cmt</button>
        <button (click)="deleteComment(comments)">xóa comment</button>
    </div>
</div>
