<!--<div class="w3-row-padding">-->
<!--    <div class="w3-col m12">-->
<!--        <div class="w3-card w3-round w3-white">-->
<!--            <div class="w3-container w3-padding">-->
<!--                <form class="" #f="ngForm" (ngSubmit)="f.form.valid && ngComment()" novalidate>-->
<!--                    &lt;!&ndash; CONTENT &ndash;&gt;-->
<!--                    <mat-form-field style="width: 80%" appearance="outline">-->
<!--                        <input name="content" [(ngModel)]="form.content" matInput-->
<!--                               placeholder="Nhập bình luận"><br>-->
<!--                    </mat-form-field>-->
<!--                    <button (click)="ngComment()" mat-stroked-button color="accent"-->
<!--                            class="mat-button-toggle-group btn-outline-primary">Bình luận-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
